/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html, body{
    height: 100%;
}

/* Set core body defaults */
body {
    
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

nav {
    width: 100%;
    height: 60px;
    max-width: 1140px;
    margin: 1rem auto 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a img {
    width: 100%;
    height: 5rem;
}

.links-item {
 list-style: none;
} 

.links-item a {
text-decoration: none;
color: #fff;
font-size: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.links-item a:hover {
color: rgba(4, 195, 183, 1.000000);
}

nav .links {
    display: none;
}

nav .action-btn {
    display: none;
}

nav .action-btn:hover {
    scale: 1.05;
    color: #fff;
}

nav .action-btn:active {
    scale: 0.95;
}

nav .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

/* Dropdown */
.dropdown-menu {
    display: block;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    margin-left: 2rem;
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open {
    height: 240px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn {
    display: block;
     background-color: #FFA857;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    width: 100%;
    display: flex;
    justify-content: center;
}


#hero{
    background:radial-gradient(circle farthest-corner at 0% 0%, rgba(4, 195, 183, 1.000000) 0%, rgba(255, 11, 172, 0.950000) 100%);
    transform:scale(1, 1);
    overflow:hidden;
    position:relative;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-container-hero{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.hero-imgs{
    max-width: 100%;
    height: auto;
}

.hero-img-2 {
    max-height: 100%;
}

.flex-item-hero{
    display: grid;
    justify-content: end;
    align-items: center;
}

.book-btn-container{
    display: grid;
    justify-content: center;
    padding: 0.5rem 0 2rem;
}

.book-btn {
    background-color: #FFA857;
    color: black;
    padding: 0.7rem 3rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

 .book-btn:hover {
    scale: 1.05;
    color: #fff;
}

 .book-btn:active {
    scale: 0.95;
}


#section-2{
    background-image: url("img/bipicon-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
}

.section-2-container{
    margin: 4rem auto;
}

.section-2-div{
    margin-bottom: 2rem;
    text-align: center;
}

.section-2-div p {
    text-align: justify;
}

.section-2-div h1 {
    margin-bottom: 1rem;
    color: #FF0BAC;
}

.bold {
    font-weight: bold;
}

.core-values{
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.vehicles{
    width: 35%;
}

.section-3-div-mid{
    display: grid;
    justify-items: end;
}

#section-4{
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1.4rem;
}

.section-4-div{
    text-align: center;
}

.section-4-div p {
    margin: 2.5rem;
}

.section-5-div{
    display: grid;
    justify-items: center;
}

#section-6{
    background-color: #07A69B;
}

.flex-container-section-6{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 6rem 1rem 3rem 1rem;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.flex-item-section-6-2{
    display: grid;
    justify-content: end;
    align-items: center;
}

.sign-up-div{
    margin: 2rem 0;
}

.sign-up-now{
    font-size: 2rem;
    line-height: 2rem;
    color: white;
}

.hurry-download-div{
    margin-bottom: 1.5rem;
}

.hurry-dl{
    font-size: 1.3rem;
    font-weight: 500;
}

.store-div{
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 2.5rem;
    justify-items: center;
}

.store-div div{
    margin: 1.5rem 0;
}

.now{
    font-weight: bold;
    text-decoration: underline;
}


.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #4b4e30;
    padding: 70px 0 30px;
  }
  .footer-col{
     padding: 1rem 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #ff0bac;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  


@media (min-width: 576px) {

    .container {
        max-width: 540px;
    }

    .dropdown-menu{
        width: 300px;
    }

    .footer-col{
        width: 100%;
    }

    .store-div{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 768px) {

    nav .action-btn {
        display: block;
        background-color: #FFA857;
        color: black;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
        transition: scale 0.2 ease;
    }

    nav .links {
        display: flex;
        gap: 2rem;
    }

    nav .toggle-btn {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .container {
        max-width: 720px;
    }

    .flex-item-hero{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .flex-item-section-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sign-up-now{
        font-size: 3rem;
        line-height: 4rem;
    }

    .store-div{
        margin-bottom: 0rem;
    }

    .row{
        flex-direction: row;
      }

    .footer-col{
        width: 25%;
        padding: 0 15px;
     }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }


}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .sign-up-now{
        font-size: 5rem;
        line-height: 5rem;
    }

}

/* @media (min-width: 1500px) {

    #section-6-container{
        max-width: 1440px;
    }
} */




